.header {
  display: flex;
  flex-direction: column-reverse;

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
  }
  &__right {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__heroText {
      text-align: center;
      font-size: 3.8rem;
      letter-spacing: -0.76px;
      font-weight: 300;
      color: #3c3c3c;
      padding-top: 2rem;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5e5322;
  font-weight: 300;
  background-color: transparent;
  border: solid 1px #5e5322;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  min-width: 150px;
  color: #5e5322;
  margin: 5px;
  &:hover {
    background-color: lighten(#737373, 30%);
    transition: background-color 0.5s ease-out;
    color: #f0f1f1;
  }
  &__container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10rem;
  }
  &__img {
  }
}

@media only screen and (min-width: 480px) {
  .header {
    flex-direction: row;
    height: 80vh;

    &__left {
      flex: 1;
      position: relative;
    }

    &__right {
      flex: 2;
      align-items: center;
    }
    &__img {
      position: absolute;
      top: 0;
      right: 20%;
      height: 100%;
    }
  }
  .btn {
    &__container {
      padding-bottom: 0;
    }
  }
}

@media only screen and (max-width: 480px) {
  .header {
    &__left {
    }

    &__right {
    }
    &__img {
      width: 100%;
    }
  }
}
