$baseLight-color: #f0f1f1;
$baseDark-color: #5e5322;
$baseYellow-color: #fad648;
$baseLgray-color: #737373;
$baseDgray-color: #3c3c3c;

$font-Open: "Open Sans", sans-serif;
$font-Merri: "Merriweather", serif;

$fSizeSm: 1.6rem;
$fSizeM: 1.8rem;
$fSizeL: 36rem;
