@media only screen and (min-width: 480px) {
  .navbar {
    display: flex;
    justify-content: right;
    &__container {
      background-color: red;
    }
  }
}

.navbar {
  display: flex;

  &__list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__item {
    padding: 5px;
    margin: 10px;

    font-size: 1.5rem;
    border: solid 1px transparent;
    &:hover {
      border: 1px solid #3c3c3c;
    }
  }
}
